# Django
*.pyc
__pycache__/
db.sqlite3
*.log

# Virtual environment
venv/

# Migrations
*/migrations/
# Python
*.pyc
__pycache__/

# Django
db.sqlite3
*.log

# Virtual environment
venv/

# Migrations (optional)
*/migrations/

# VS Code
.vscode/
